.node-tooltip .tooltip-box{
  background: #000;
  color: #fff;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding: 1px 2px;
  max-width: 60px;
  width: max-content;
  font-size: 3.5px;
  line-height: 1.1;
  pointer-events: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.10);
  white-space: normal;
}

html.dark-mode .node-tooltip .tooltip-box {
  background: #fff;
  color: #000;
}

.node-tooltip h3{
  margin:0 0 1px;
  font-weight:600;
  font-size: 3.8px;
}
.node-tooltip p{
  margin:0;
  word-break: break-all;
  opacity:.8;
} 